*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
READEME.txt

# Firebase & Secrets (Private keys - DO NOT COMMIT)
app/google-services.json
simulator/config.js
secrets.properties
